# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs
# editorconfig.org

root = true


[*]

# TCC Web Communications Source Code Standard (all langs)
indent_style = space
indent_size = 4

# Unix Style text files
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Trailing whitespace matters in markdown files
[*.md]
trim_trailing_whitespace = false
