//This file contains CSS that is common to all 5 page types
// (i.e. home, hubs, section fronts, details, details-full-width)

// Overall wrapper for pages
.contentWrap {
    @include clearfix();
    // Maximum column size for very large displays
    margin: 0 auto;
    max-width: $max-container-width;
    padding: 40px 0 0;
    position: relative;
    width: 100%;
}

.main {
    padding-bottom: 60px;
    position: relative;
    width: 100%;

    @include bp(medium) {
        border-left: 2px solid $light-gray;
        float: right;
        left: -2px;
        padding-bottom: 30px;
        width: calc(100% - 240px);
    }

    &.main--fullWidth {
        border-left: none;
        float: none;
        padding-left: 0;
        width: 100%;

        @include bp(medium) {
            left: 0;

            .main-content > * {
                margin-left: 30px;
            }
        }
    }
}

.main-sideBar {
    border-top: 2px solid $light-gray;
}

.hero {
    background-color: $tcc-blue;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 76px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    // Don't display the background image, even if
    // inline style attributes say to display it
    // TODO: Abstract this to a variable
    // scss-lint:disable ImportantRule
    @include bp($custom: '(max-width:699px)') {
        background-image: none !important;
    }

    @include bp(medium) {
        .homePage & {
            height: 500px;
            max-height: 50vh;
        }

        .hubPage & {
            height: 400px;
            max-height: 50vh;
        }

        .detailsPage &,
        .searchPage & {
            height: 300px;
            max-height: 50vh;
        }

        // Remove the second selector after testing
        &.hero--collapse,
        &.collapse {
            height: 0;
            // Based on nav menu height + border height (45 + 3)
            margin-top: -3px;
        }
    }

    // This is a bottom border sandwhich, with the diagonal striping
    &::after {
        @extend %diagonal-bg;
        border-top: 6px solid $tcc-burgundy;
        bottom: -18px;
        box-shadow: 0 6px 8px -6px $shadow-dark;
        content: '';
        display: block;
        height: 15px;
        position: absolute;
        width: 100%;
    }

    .hero-image {
        display: none;
    }
}

.hero-sectionLabel {
    display: none;
}

// Side by Side Images in the content area
// For the career coach icon and any other icons that will sit at the bottom
.sideBySideImageWrap {
    @include clearfix();

    margin-bottom: 2rem;
    margin-top: 2rem;

    img {
        display: block;
        float: left;
        height: auto;
        margin-bottom: 10px;
        margin-right: 10px;
        width: auto;
    }
}
