.breadcrumbWrap {
    @include clearfix();
    margin-bottom: 20px;
    padding: 0 20px;

    @include bp(medium) {
        margin-bottom: 0;
        margin-top: 20px;
    }
}

.rsButtonWrap {
    float: right;

    &:not(:first-child) {
        margin-right: 1rem;
    }
}

.breadcrumbs {
    @include font(0.8rem, 'thin');
    margin: 0 2rem 0 0;
}
