.pageHeader {
    background-color: $tcc-blue;
    padding-top: 57px; //Using padding so that the box doesn't collapse when all content is absolute/floating
    position: relative;
    // background-image: url(/_resources/images/textures/dark-texture-1.png);

    @include bp(medium) {
        padding-top: 142px; //Little more room when the quick links move up
    }

    @include bp(large) {
        padding-top: 156px; //Little more room when the quick links move up
    }
}

.pageHeader-navWrap {
    @include clearfix();
    background-color: $nav-background;
    background-image: url('/_resources/images/textures/dark-texture-1.png');
    border-bottom: 3px solid $pure-white;
    width: 100%;

    @include bp(medium) {
        border-bottom: none;
    }
}

.mainMenu,
.quickLinks {
    display: none;
    width: 50%;

    @include bp(medium) {
        display: block;
    }

    .no-overlay & {
        display: block;
    }

    h5 {
        @include font($weight: bold);
        background-color: $medium-gray;
        color: $pure-white;
        line-height: 1;
        margin: 0;
        padding: 5px 20px;
        text-transform: uppercase;

        @include bp(medium) {
            @include visuallyhidden();
        }
    }

    li {
        margin-bottom: 0.45rem;
    }

    ul {
        list-style-type: none;
        margin: 8px 0 1rem;
        padding-left: 20px;
    }

    a {
        color: $pure-white;
        text-decoration: none;
    }
}

.mainMenu {
    float: left;
    padding-right: 20px;

    @include bp(medium) {
        @include clearfix();
        // bottom: 27px;
        background-color: $nav-background;
        border-top: 3px solid $pure-white;
        box-shadow: 0 4px 4px -2px transparentize($pure-black, 0.6);
        float: none;
        height: 48px;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 94px;
        width: 100%;
        z-index: z(HIGH);

        @include bp(large) {
            top: 108px;
        }

        ul {
            display: table;
            height: 45px;
            margin: 0 auto;
            max-width: 1280px;
            padding: 6px 0;
            width: 100%;

            // @include bp(large) {
            //     height: 65px;
            // }
        }

        li {
            @include font(1rem, bold);
            // text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
            //text-transform: uppercase;
            border-right: 1px solid $pure-white;
            display: table-cell;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            width: (100% / 7);

            @include bp(large) {
                @include font(1.15rem);
            }

            @include bp(x-large) {
                @include font(1.3rem);
            }

            &:last-child {
                border-right: none;
            }

            a {
                display: block;
                height: 100%;
                padding: 3px 0;
                width: 100%;

                @include bp(large) {
                    padding: 0;
                }

                &:hover,
                &:focus,
                &:active {
                    color: $tcc-green-lighter;
                }
            }
        }
    }
}

.quickLinks {
    float: right;

    @include bp(medium) {
        @include clearfix();
        // left: 0;
        float: none;
        height: 65px;
        max-width: 390px;
        padding-right: 20px;
        padding-top: 10px;
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
        width: 60%;

        ul {
            height: 60px;
            margin: 0;
            padding-top: 5px;
            width: 100%;
        }

        li {
            @include font(0.8rem, light);
            display: inline-block;
            float: right;
            margin: 0;
            padding: 0 5px;

            a {
                text-decoration: underline;
            }
        }
    }

    @include bp(x-large) {
        right: 0;
        right: calc((100% - #{$max-container-width}) / 2); //SASS string interpolation required in calc() expressions
    }
}

.siteSearch {
    @include clearfix();
    display: block;
    padding: 12px 20px;
    position: absolute;
    right: 0;
    top: 1px;
    width: 100%;
    z-index: z(OVER);

    @include bp(medium) {
        max-width: 375px;
        padding-top: 16px;
        top: 30px;
        width: 60%;
    }

    @include bp(x-large) {
        right: 0;
        right: calc((100% - #{$max-container-width}) / 2); //SASS string interpolation necessary in calc() functions
    }

    [type='text'] {
        -webkit-appearance: none;
        border: 2px solid $pure-white;
        border-radius: 0;
        display: block;
        float: left;
        height: 30px;
        margin: 0;
        padding: 3px 5px;
        width: calc(100% - 80px);
    }

    [type='submit'] {
        -webkit-appearance: none;
        background-color: $tcc-blue;
        background-image: linear-gradient(to bottom, $tcc-blue, darken($tcc-blue, 10%));
        border: 2px solid $pure-white;
        border-radius: 0;
        color: $pure-white;
        display: block;
        float: right;
        height: 30px;
        margin: 0;
        text-align: center;
        width: 80px;

        &:hover {
            background-color: $tcc-blue-lighter;
        }
    }
}

.banner {
    bottom: -38px;
    left: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%, 50%);
    width: 94%;
    z-index: z(OVER);

    @include bp(medium) {
        left: 20px;
        max-width: 385px;
        top: 23px;
        transform: none;
        width: 40%;
    }

    @include bp(large) {
        max-width: 486px;
        top: 19px;
    }

    @include bp(x-large) {
        left: 20px;
        left: calc((100% - #{$max-container-width}) / 2);
    }

    .banner-logoWrap {
        width: 100%;
    }

    img {
        display: block;
        margin: 0 auto;
        max-width: 400px;
        padding: 0 10px;
        width: 100%;

        @include bp(medium) {
            margin: 0;
            max-width: 100%;
            padding: 0;
        }
    }
}
