.pageFooter {
    background-color: $nav-background;
    background-image: url('/_resources/images/textures/dark-texture-1.png');
    border-top: 2px solid $pure-white;
    box-shadow: 0 -4px 3px -3px $shadow-dark;
    padding: 30px 0 0;
    position: relative;
    width: 100%;

    // Fix for the feedback area margin problem
    @include bp(medium) {
        margin-top: 60px;
    }
}

.pageFooter-nav {
    @include clearfix();
    margin: 0 auto;
    max-width: $max-container-width;
    padding-bottom: 15px;
    width: 100%;

    @include bp(large) {
        min-height: 206px;
    }
}

.pageFooter-nav-group {
    @include clearfix();
    margin: 0;
    padding: 0;
    width: 100%;

    @include bp(medium) {
        float: left;
        width: 50%;

        &:first-child {
            padding-right: 20px;
        }
    }

    @include bp(large) {
        width: 40%;

        &:first-child {
            padding-right: 0;
        }

        &:last-child {
            float: right;
        }
    }

    .columnWrap {
        float: left;
        width: 50%;

        &:first-child {
            padding-right: 20px;
        }
    }

    h5 {
        @include font($size: 0.9rem, $weight: 700);
        background-color: $medium-gray;
        color: $pure-white;
        line-height: 1;
        margin: 0;
        padding: 5px 20px;
        text-transform: uppercase;
    }
}

.pageFooter-nav-links {
    color: $pure-white;
    list-style-type: none;
    padding-left: 20px;

    li {
        margin-bottom: 0.45rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}

.pageFooter-legalInfo {
    @include font($size: 0.8rem, $weight: 100);
    background-color: $medium-gray;
    color: $pure-white;
    padding: 20px;
    text-align: center;
    width: 100%;

    @include bp(medium) {
        padding-bottom: 20px;
    }


    a {
        color: inherit;
    }
}

.pageFooter-legalInfo-links,
.pageFooter-legalInfo-copyright {
    line-height: 1.1;
    margin: 0 0 0.25rem;
}

.pageFooter-legalInfo-copyright a {
    border: none;
    outline: 0;
    text-decoration: none;
}

.pageFooter-logoArea {
    display: none;
    text-align: center;
    visibility: hidden;
    width: 100%;

    @include bp(large) {
        display: block;
        left: 50%;
        max-width: 0.2 * $max-container-width;
        // padding-right: 20px;
        position: absolute;
        top: 51px;
        transform: translateX(-50%);
        visibility: visible;
        width: 20%;
    }
}

.pageFooter-logo {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    padding: 0;
}

.pageFooter-socialIcons {
    list-style-type: none;
    margin: 1rem auto;
    padding: 0;

    .socialIcon {
        display: inline-block;
        margin: 0;
        padding-right: 5px;

        &:last-of-type { padding-right: 0; }

        img {
            display: block;
            height: 32px;
            width: 32px;
        }
    }
}

.pageFooter-feedback {
    background: $tcc-link-color;
    border-bottom: 3px solid $pure-white;
    color: $pure-white;
    font-size: 16px;
    height: inherit;
    margin-bottom: 22px;
    margin-top: -70px;
    padding: 1px;
    text-align: center;

    a {
        color: $pure-white;
        font-weight: 600;
        text-decoration: underline;
    }
}
