.cbMapFrame {
    @include clearfix();
    margin-top: 1em;

    &.cbMapFrame--noEmbed {
        height: auto;
        width: auto;
    }

    iframe {
        height: 600px;
        width: 100%;
    }

    // Extend button styles because we don't want to edit all that content
    // scss-lint:disable PlaceholderInExtend
    > a:first-child {
        @extend .button--solid;
        @extend .learn-more;
        @include button-base();
        float: left;
        margin: 0 0 1rem;
    }
}
