@import 'home-page/home-page-common-blocks';
@import 'home-page/home-page-actions';
@import 'home-page/home-page-hubs';
@import 'home-page/home-page-request-info';
@import 'home-page/home-page-calendar';
@import 'home-page/home-page-feeds';
@import 'home-page/home-page-headers';

// Tools for the request more info lightbox
// @import 'home-page/request-info';

.homePage {

    .homePage-main {
        // Only for desktop sizes, push the beginning of the content
        // down a little from the hero header
        @include bp(medium) {
            padding-top: 20px;
        }
    }

    .main-callToAction,
    .main-prospectiveStudents {
        margin-bottom: 35px;
        position: relative;

        &::after {
            @extend %diagonal-bg;
            bottom: -18px;
            content: '';
            display: block;
            height: 15px;
            left: 20px;
            opacity: 0.5;
            position: absolute;
            right: 20px;
        }
    }

    [class|='feeds'] {
        margin-bottom: 35px;

        @include bp(medium) {
            @include clearfix();
            padding-left: 0;
            padding-right: 0;
        }

        &:not(:last-of-type) {

            &::after {
                @extend %diagonal-bg;
                content: '';
                display: block;
                height: 15px;
                margin: 0 auto;
                opacity: 0.5;
                width: calc(100% - 20px);

                @include bp(medium) {
                    width: 100%;
                }
            }
        }

        > .announcements:first-child {
            margin-bottom: 35px;

            @include bp(medium) {
                margin-bottom: 0;
            }

            &::after {
                @extend %diagonal-bg;
                content: '';
                display: block;
                height: 15px;
                opacity: 0.5;
                width: 100%;

                @include bp(medium) {
                    display: none;
                }
            }
        }

        .main-identifier {
            @extend %main-identifier-styles;

            a {
                text-decoration: none;

                &:hover,
                &:focus,
                &:active {
                    text-decoration: underline;
                }
            }
        }

        .contentWrap {
            padding-top: 0;
        }
    }

}

.learnMoreWrap {
    @include clearfix();
    padding: 10px 10px 25px;
    text-align: center;
    width: 100%;

    @include bp(medium) {
        padding: 20px;
    }

    .learn-more {
        display: inline-block;
        float: none;
        text-align: center;

        @include bp(medium) {
            display: block;
            float: right;
            margin: 0;
        }
    }
}

.main-identifier {
    @include font(2rem, 'black', normal);
    // text-transform: uppercase;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    @include bp(medium) {
        @include font(3rem);
    }

    .sub-identifier {
        @include font(0.65em, regular);
        margin: 0;
        text-transform: none;
    }
}

.backgroundIcon {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 0;
}

.backgroundIcon--calendar {
    background-image: url('/_resources/images/icons/calendar.svg');
}

.backgroundIcon--news {
    background-image: url('/_resources/images/icons/news.svg');
}

.backgroundIcon--reach {
    background-image: url('/_resources/images/icons/reach-logo.svg');
}

.backgroundIcon--announcements {
    background-image: url('/_resources/images/icons/announcements.svg');
}

.backgroundIcon--videos {
    background-image: url('/_resources/images/icons/videos.svg');
}
