@import 'home-page/home-page-common-blocks';
@import 'home-page/home-page-actions';
@import 'home-page/home-page-hubs';
@import 'home-page/home-page-request-info';
@import 'home-page/home-page-calendar';
@import 'home-page/home-page-feeds';

// Tools for the request more info lightbox
// @import 'home-page/request-info';

.homePage {
    .main-callToAction {
        margin-bottom: 60px;
        position: relative;

        &::after {
            @extend %diagonal-bg;
            bottom: -18px;
            content: '';
            display: block;
            height: 15px;
            left: 20px;
            opacity: 0.5;
            position: absolute;
            right: 20px;
        }
    }

    [class|='feeds'] {
        padding: 20px 10px 40px;

        @include bp(medium) {
            padding-left: 0;
            padding-right: 0;
        }

        &:not(:last-of-type) {
            margin-bottom: 20px;

            &::after {
                @extend %diagonal-bg;
                content: '';
                display: block;
                height: 15px;
                opacity: 0.5;
                width: 100%;
            }
        }
    }

}

.learnMoreWrap {
    @include clearfix();
    padding: 20px 10px;
    width: 100%;

    @include bp(medium) {
        padding: 20px;
    }
}

.main-identifier {
    @include font(2rem, 'black', normal);
    // text-transform: uppercase;
    line-height: 1.1;
    margin: 0 auto;
    text-align: center;
    width: 100%;

    @include bp(medium) {
        @include font(3rem);
    }

    .sub-identifier {
        @include font(0.65em, regular);
        margin: 0;
        text-transform: none;
    }
}

.backgroundIcon {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px 0;
}

.backgroundIcon--calendar {
    background-image: url('/_resources/images/icons/calendar.svg');
}

.backgroundIcon--news {
    background-image: url('/_resources/images/icons/news.svg');
}

.backgroundIcon--reach {
    background-image: url('/_resources/images/icons/reach-logo.svg');
}

.backgroundIcon--announcements {
    background-image: url('/_resources/images/icons/announcements.svg');
}

.backgroundIcon--videos {
    background-image: url('/_resources/images/icons/videos.svg');
}
