.main-tiles {

    .flexbox & {
        display: flex;
        flex-wrap: wrap;
    }

    .no-flexbox & {
        @include clearfix(); //Floated columns used in flexbox unavailable
    }
}

.tile {
    padding: 30px 20px 0;
    width: 100%;

    @include bp(medium) {
        // border-bottom: 1px solid $light-gray;
        padding: 60px 40px;
        width: 50%;

        .no-flexbox & {
            float: left;
            // border-bottom: none;
        }

        .no-flexbox &:nth-of-type(2n+1) {
            clear: both;
        }
    }

    // @include bp($custom:$bp-medium-only) {
    //     &:nth-of-type(2n+1):last-child,
    //     &:nth-of-type(2n+1):nth-last-of-type(2),
    //     &:nth-of-type(2n+1):nth-last-of-type(2) + & {
    //         border-bottom: none;
    //     }
    // }

    @include bp(large) {
        width: 33.33333%;

        // &:nth-of-type(3n+1):last-of-type,
        // &:nth-of-type(3n+1):nth-last-of-type(2),
        // &:nth-of-type(3n+1):nth-last-of-type(2) + &,
        // &:nth-of-type(3n+1):nth-last-of-type(3),
        // &:nth-of-type(3n+1):nth-last-of-type(3) + &,
        // &:nth-of-type(3n+1):nth-last-of-type(3) + & + & {
        //     border-bottom: none;
        // }

        .no-flexbox &:nth-of-type(2n+1) {
            clear: none;
        }

        .no-flexbox &:nth-of-type(3n+1) {
            clear: both;
        }
    }

    .flexbox & {
        display: flex;
    }

    .no-flexbox & {
        float: none;
    }
}

.tile-wrap {
    border-bottom: 1px solid $light-gray; //Create vertical separation in mobile
    padding-bottom: 30px;
    width: 100%;

    @include bp(medium) {
        border-bottom: none; //Remove vertical separation from mobile layout
        padding-bottom: 0;
    }

    .tile:last-of-type & {
        border-bottom: none;
    }

    .no-flexbox & {
        @include clearfix();
    }

}
