.mobileShelf {
    background: $dark-gray url('/_resources/images/textures/dark-texture-1.png');
    display: block;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 70px 0 0;
    position: fixed;
    transform: translateX(-100%);
    transition-duration: 200ms;
    transition-property: transform;
    transition-timing-function: ease-in;
    width: 100%;
    z-index: z(HIGHEST);

    @include bp(medium) {
        display: none; //!important; //Do we need this important?
    }

    &[aria-hidden='false'] {
        transform: translateX(0%);
        transition-timing-function: ease-out;
    }

    .no-js &,
    .no-overlay & {
        display: none;
    }

    .mobileShelf-mainNavWrap {
        @include clearfix();
        @include font(1rem);

        background: $dark-gray url('/_resources/images/textures/dark-texture-1.png');
        width: 100%;

        .mainMenu,
        .quickLinks {
            display: block;

            h5 {
                @include font(0.9rem);
            }
        }
    }

    .sectionNav {
        border-top-color: $tcc-burgundy;
    }

    .mobileShelf-sectionNavWrap {
        @include clearfix();
        background-color: $pure-white;
        border-top: 6px solid $pure-white;
        padding-bottom: 120px;
        width: 100%;
    }
}

//Ignore repeated values
// scss-lint:disable DuplicateProperty PropertySortOrder
.mobileMenuButton {
    @include font($weight: 'bold');
    -webkit-appearance: none;
    background-color: $tcc-burgundy;
    background-image: linear-gradient(to bottom, $tcc-burgundy, $tcc-burgundy-darker);
    border: 2px solid $pure-white;
    border-radius: 4px;
    color: $pure-white;
    display: block;
    float: left;
    height: 35px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 80px;

    @include bp(medium) {
        display: none; // !important; //Was important needed here?
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $tcc-burgundy;
        background-image: none;
    }

    &.closed {
        background-color: $tcc-green;
        background-image: linear-gradient(to bottom, $tcc-green, $tcc-green-darker);

        &:hover,
        &:focus,
        &:active {
            background-color: $tcc-green;
            background-image: none;
        }
    }

    .no-js &,
    .no-overlay & {
        display: none;
    }
}
