.mobileShelf {
    background: $dark-gray url('/_resources/images/textures/dark-texture-1.png');
    box-shadow: 6px 0 12px -3px transparentize($pure-black, 0.8);
    display: block;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px 0 0;
    position: fixed;
    transform: translateX(-150%);
    width: 93vw;
    z-index: z(HIGH);

    @include bp(medium) {
        display: none; //!important; //Do we need this important?
    }

    .siteSearch {
        // Note, this element is inheriting from the .siteSearch rules in the
        // layouts/_common-header.scss file as well as the declarations here
        background: $dark-gray url('/_resources/images/textures/dark-texture-1.png');
        border-bottom: 3px solid $pure-white;
        box-shadow: 0 6px 3px -3px transparentize($pure-black, 0.8);
        position: fixed;
        z-index: z(HIGHEST);
    }

    .mobileShelf-mainNavWrap {
        @include clearfix();
        @include font(1rem);

        background: $dark-gray url('/_resources/images/textures/dark-texture-1.png');
        width: 100%;

        .mainMenu,
        .quickLinks {
            display: block;

            h5 {
                @include font(0.9rem);
            }
        }
    }

    .mobileShelf-sectionNavWrap {
        @include clearfix();
        @include font(1rem);
        background-color: $tcc-blue-darker;
        color: $pure-white;
        padding-bottom: 120px;
        width: 100%;

        a {
            color: inherit;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                outline: none;
                text-decoration: underline;
            }
        }

        .sectionNav-sectionTop {
            @include font(1.2rem, 'black');
            background-color: $tcc-blue-darker;
            border-bottom: 1px solid $pure-white;
            border-top: 3px solid $pure-white;
            color: $pure-white;
            padding: 10px 20px;
            text-transform: uppercase;

            &:nth-of-type(n+2) { //To override undesired cacscade effect from common layout
                margin-top: 0;
            }
        }
    }
}

.mobileNav {
    display: block;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            background-color: $nav-top-level;
            color: $nav-top-level-text;
            margin: 0;
            padding: 0;

            a {
                display: block;
                padding: 10px 10px 10px 20px;
            }
        }

        // For readability
        // scss-lint:disable MergeableSelector SelectorDepth
        li li {
            margin: 0 15px;
            padding-bottom: 0;

            a {
                padding-left: 40px;
            }
        }

        li li li {
            margin: 0;

            a {
                padding-left: 60px;
            }
        }

        li li li li {
            margin: 0;

            a {
                padding-left: 80px;
            }
        }

        .currentPage {
            @include font($weight: 'bold');

            > a {
                background-color: $light-gray;
                border-left: 6px solid $tcc-green;
                padding-left: 14px;
                position: relative;
            }

            li {
                @include font($style: italic, $weight: 'book');
            }
        }
    }
}

//Ignore repeated values
// scss-lint:disable DuplicateProperty PropertySortOrder
.mobileMenuButton {
    @include font($size: 14px, $weight: 'black');
    -webkit-appearance: none;
    background: $tcc-burgundy;
    background: radial-gradient($tcc-burgundy, darken($tcc-burgundy, 10%));
    border: 3px solid $pure-white;
    border-radius: 30px; // Fall back value for old Android :(
    border-radius: 50%;
    bottom: 24px;
    box-shadow: 0 2px 6px -2px $shadow-dark;
    color: $pure-white;
    display: none; //Default to hidden
    height: 60px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: calc(50% - 30px);
    text-align: center;
    vertical-align: middle;
    width: 60px;
    z-index: z(MODAL);

    @include bp(medium) {
        display: none; // !important; //Was important needed here?
    }

    &.closed {
        background: $tcc-blue;
        background: radial-gradient($tcc-blue, darken($tcc-blue, 10%));
    }

    &:hover,
    &:focus {
        background: lighten($tcc-burgundy, 10%);
        background: radial-gradient(lighten($tcc-burgundy, 10%), $tcc-burgundy);
        outline: 0;

        &.closed {
            background: lighten($tcc-blue, 10%);
            background: radial-gradient(lighten($tcc-blue, 10%), $tcc-blue);
        }
    }

    &:active {
        background: lighten($tcc-burgundy, 20%);
        background: radial-gradient(lighten($tcc-burgundy, 20%), $tcc-burgundy);
        bottom: 22px;
        box-shadow: none;

        &.closed {
            background: lighten($tcc-blue, 20%);
            background: radial-gradient(lighten($tcc-blue, 20%), $tcc-blue);
        }
    }
}

// This style is added to the body element when the mobileShelf is open
// to prevent scrolling of the body when the mobile shelf reaches
// the top or bottom of the scrollable area inside of it
.mobileShelfOpen {
    overflow: hidden;
}
