.pathwayTile {
    width: auto;
    padding: 20px;
    border: 1px solid $light-gray;
    border-right: 6px solid $tcc-green;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "image"
        "descr"
        "aside"
        "link";

    @include bp(large) {
        max-width: calc(100% - 60px);
        width: calc(100% - 60px);
        grid-template-columns: 200px 2fr 1fr;
        grid-template-areas:
        "header header header"
        "image  descr  aside"
        "image  link   aside";
    }

        h3.pathwayTitle {
            grid-area: header;
            margin: -20px -20px 0;
            padding: 10px;
            background-color: $tcc-blue-darker;
            color: $pure-white;
            border-top-left-radius: 5px;
        }

        .pathwayImage {
            grid-area: image;

            @include bp(large) {
                margin: -20px 0 -20px -20px;
                border-bottom-left-radius: 5px;
            }

            img {
                display: block;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
        }

        .pathwayDescription {
            grid-area: descr;

            & > *:first-child {
                margin-top: 0;
            }
        }

        .pathwayCallToAction {
            grid-area: link;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;

            .learn-more {
                float: none;
                display: block;
            }
        }

        .pathwayAside {
            margin-top: 0;

            .pathwayAside-title {
                margin-top: 0;
            }
        }
}

