.sectionNav {
    display: none; //Hidden by default on mobile...

    .no-overlay & {
        display: block;  //Unless the mobile overlay feature isn't on...
    }

    @include bp(medium) {
        display: block;  //Or we have a big enough screen.
        float: left;
        width: 240px;
        padding-bottom: 60px;
        border-right: 2px solid $light-gray;
    }

    a {
        text-decoration: none;
        color: inherit;
        display: block;
        width: 100%;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 1rem 0;

        ul {
            margin-left: 1rem;
        }

        li {
            margin-bottom: 0.25rem;
            padding: 0;
            color: $medium-gray;
            line-height: 1.2;

            //Separators
            border-bottom: 1px solid $light-gray;
            &:last-child { border-bottom: 0; }

            a {
                padding: 8px 20px 8px 30px;
            }

            &.currentPage {

                & > a {
                    background-color: $light-gray;
                    color: $pure-black;
                    @include font($weight: 700);
                    border-left: 6px solid $tcc-green;
                    padding-left: 24px; //Because of border offset
                }

                li {
                    @include font($weight: 300, $style:italic);
                    color: $dark-gray;
                }
            }
        }
    }
}

.sectionNav-sectionTop {
    padding: 0 20px 0 20px;
    color: $dark-gray;
    text-transform: uppercase;
    @include font(1.3rem, black);

    &:nth-of-type(n + 2) {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 4px dotted $light-gray;
    }
}
