.sectionNav {

    // display: none; //Hidden by default on mobile... // Not anymore!
    border-top: 6px solid $light-gray;
    padding-top: 1rem;

    @include bp(medium) {
        border-right: 2px solid $light-gray;
        border-top: none;
        display: block;  //Or we have a big enough screen.
        float: left;
        padding-bottom: 60px;
        padding-top: 0;
        width: 240px;
    }

    .no-overlay & {
        display: block;  //Unless the mobile overlay feature isn't on...
    }

    a {
        color: inherit;
        display: block;
        text-decoration: none;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        margin: 1rem 0;
        padding: 0;

        ul {
            margin-left: 1rem;
        }

        li {

            //Separators
            border-bottom: 1px solid $light-gray;
            color: $medium-gray;
            line-height: 1.2;
            margin-bottom: 0.25rem;
            padding: 0;

            &:last-child { border-bottom: none; }

            a {
                padding: 8px 20px 8px 30px;
            }

            &.currentPage {

                > a {
                    @include font($weight: 700);
                    background-color: $light-gray;
                    border-left: 6px solid $tcc-green;
                    color: $pure-black;
                    padding-left: 24px; //Because of border offset
                }

                li {
                    @include font($weight: 300, $style:italic);
                    color: $dark-gray;
                }
            }
        }
    }
}

.sectionNav-sectionTop {
    @include font(1.3rem, 'black');
    color: $dark-gray;
    padding: 0 20px;
    text-transform: uppercase;

    &:nth-of-type(n + 2) {
        border-top: 4px dotted $light-gray;
        margin-top: 2rem;
        padding-top: 2rem;
    }
}
