// Styles specifically for the layout of the Why Choose TCC page

// Override styling for content areas of "normal" pages
.main.main--fullWidth .main-content > * {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.main-content h1 {
    @include font(3rem);
    margin-bottom: 1.25rem;
    text-align: center;
}

.factBlock {
    margin-bottom: 2rem;
    padding: 0 20px;
    width: 100%;

    &::after {
        @extend %diagonal-bg;
        content: '';
        display: block;
        height: 15px;
        margin-top: 2rem;
        width: 100%;
    }

    &:last-of-type::after {
        display: none;
    }

    //Specificty... have to nest to beat out a rule from the universal sheet
    .factBlock-title {
        @include font(2.4rem, 'black');
        color: $tcc-blue;
        line-height: 1.1;
        margin-bottom: 2rem;
        margin-top: 0;
        text-align: center;
    }
}

.factBlock-columnWrap {
    width: 100%;

    @include bp(medium) {
        .no-flexbox & {
            @include clearfix();
        }

        .flexbox & {
            align-items: stretch;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

.factBlock-column {
    margin: 0;
    padding: 0;
    width: 100%;

    @include bp(medium) {
        border-right: 3px solid $tcc-teal;
        width: 33.33%;

        .no-flexbox & {
            float: left;
        }

        .flexbox & {
            flex: 1 1 33.33%;
        }

        &:last-child {
            border-right: none;
        }
    }

    &:last-child > .factBlock-fact:last-child {
        border-bottom: none;
    }
}

.factBlock-fact {
    border-bottom: 3px solid $tcc-teal;
    margin-bottom: 20px;
    padding: 0;

    @include bp(medium) {
        &:last-child {
            border-bottom: none;
        }
    }
}

.factBlock-fact-innerWrap {
    padding: 20px;
    text-align: center;

    a {
        text-decoration: none;
    }

    h3 {
        @include font(2rem, 'bold');
        color: $tcc-blue;
        line-height: 1.1;
        margin-bottom: 2rem;
        margin-top: 0;

        + p {
            @include font(1rem);
            line-height: 1.1;
            margin-bottom: 2rem;
            margin-top: -1.5rem;
        }
    }

    img {
        display: block;
        margin: 1rem auto;
        max-width: 100%;

        &.reducedSize--45 {
            max-width: 45%;
        }

        &.reducedSize--80 {
            max-width: 80%;
        }
    }

    .lazyLoad {
        height: 0;
        opacity: 0;
        padding-top: 75%;
        transform: translateY(33%);
        transition: transform 0.4s 0.4s ease-out, opacity 0.4s 0.4s ease-out;

        &.loaded {
            height: auto;
            opacity: 1;
            padding-top: 0;
            transform: translateY(0);
        }

        .no-js & {
            display: none;
        }
    }
}

.detailsPage .hero.hero.hero { // HACK! Make sure to have higher specificity
    @include bp(medium) {
        height: 500px;
    }
}

.contentUpdated {
    display: none; // Not needed on this page
}

// Additions for Rankings on the Why Choose page, 2021-03-31
.recognition .factBlock-fact-innerWrap ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;

    li {
        border-bottom: 3px dotted $tcc-green;
        margin: 0 0 1em;
        padding: 0 0 1em;

        &:last-of-type {
            border: none;
        }

        &::first-letter {
            @include font(3em, 'black', normal);
            color: $tcc-blue;
            display: block;
            float: left;
            line-height: 0.9;
            margin: 0.04em 0.15em 0;
            padding: 0;
        }
    }
}
