// Typographic styles

// .main-content is the "scoping class" for all of the content selectors
// It helps ensure a little higher specificity, so that content is consistently
// styled, but also limits that styling to the main content area (less accidental
// breakage of layout styles)
.main-content,
.main-sideBar {

    // All main content gets a tiny bit bigger at the desktop sizes
    @include bp(large) {
        font-size: 1.1rem;
    }

    // All elements inside .main-content share these styles
    > * {
        //Left and right gutter
        color: $text-black;
        margin-left: 20px;
        margin-right: 20px;

        // Once we have side navigation showing, the gutters need to change
        @include bp(medium) {
            margin-left: 40px;
            margin-right: 30px;
            max-width: 35rem; // Max width for controlling measure
        }

        @include bp(large) {
            max-width: 45rem; // The font-size increased, so the measure is different
        }
    }

    // For pages without a section front, this controls the appearance of the main
    // heading
    h1 {
        @include font(2em, 'black');

        color: $tcc-blue;
        line-height: 1;
        margin-bottom: 0.25em;
        margin-top: 0;
        text-transform: uppercase;
    }

    h2 {
        @include font(1.7em, 'black');
    }

    h3 {
        @include font(1.25em, 'bold');
        color: $tcc-blue;
    }

    h4 {
        @include font(1.17em, 'bold');
        color: $tcc-teal;
    }

    h5 {
        @include font(1.1em, 'bold');
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        margin-top: 1.35em;

        + ol,
        + ul,
        + p {
            margin-top: 0.55em;
        }
    }

    p,
    ol,
    ul,
    dl {
        margin-bottom: 0;
        margin-top: 1em;

        + ol,
        + ul,
        + dl {
            margin-top: 0.55em;
        }
    }

    ol,
    ul {
        &.no-bullets {
            list-style-type: none;
            margin-top: 0;
            padding: 0;
        }
    }

    p + p {
        margin-top: 0.8em;
    }

    li {
        margin-bottom: 0.55em;

        &:last-of-type {
            margin-bottom: 0;
        }

        > ol,
        > ul,
        > dl {
            margin-top: 0.55em;
        }
    }

    dd {
        margin-left: 0;

        + dt {
            margin-top: 1em;
        }
    }

    blockquote {
        border-left: 6px solid $tcc-teal;
        padding: 0.5em 2em;

        *:first-child {
            margin-top: 0;
        }
    }

    .image--pullLeft,
    .image--pullRight {
        display: block;
        margin: 1rem auto;
        max-width: 100%;

        @include bp(medium) {
            max-width: 33%;
        }

        @include bp(large) {
            max-width: 40%;
        }

        @include bp(x-large) {
            max-width: 50%;
        }

    }

    .image--pullRight {
        @include bp(medium) {
            float: right;
            margin: 0 0 1rem 1rem;
        }
    }

    .image--pullLeft {
        @include bp(medium) {
            float: left;
            margin: 0 1rem 1rem 0;
        }
    }

    img {
        max-width: 100%;
    }

    .contentUpdated {
        @include font(0.8em, 'thin');
        color: $medium-gray;
        margin-bottom: 2rem;
        margin-top: 2rem;
        text-align: right;
    }
}

//Special styling for lists of step-by-step instructions
.steps {
    // Custom counter for labelling steps in a process
    counter-reset: step;
    list-style-type: none;
    padding: 0;

    > li {
        // Increment the counter on each top-level list item, but
        // not nested lists (child selector)
        counter-increment: step;
        margin-top: 1em;

        // Uses generated content to label the steps
        &::before {
            @include font(1.1em, 'black');
            // Em, not rem, to increase from whatever the font size is currently
            color: $tcc-burgundy;
            content: 'Step ' counter(step) ': ';
            text-transform: uppercase;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    ol,
    ul {
        padding-left: 40px;
    }
}

//Special styling for lists of step-by-step instructions with alphabetic numbering
.steps--alpha {
    // Custom counter for labelling steps in a process
    counter-reset: letter;
    list-style-type: none;
    padding: 0;

    > li {
        // Increment the counter on each top-level list item, but
        // not nested lists (child selector)
        counter-increment: letter;
        margin-top: 1em;

        // Uses generated content to label the steps
        > :first-child::before {
            content: counter(letter, lower-alpha) '. ';
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    ol,
    ul {
        padding-left: 40px;
    }
}

.sideBar--relatedLinks {
    > ul,
    > ol {
        list-style-type: none;
        padding: 0;
    }
}

// Link colors for content areas
a {
    color: $tcc-link-color;
}

hr {
    border: none;
    border-bottom: 2px solid $light-gray;
    height: 0;
    margin: 3rem 0;
    // width: 100%; // This was breaking the mobile layout!
}
