// Mixins
// Requires _partials/variables.scss to be imported first!

// Clearfix mixin
// Uses Nicolas Gallagher Micro-clearfix syntax, IE9+
@mixin clearfix() {
    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

// Typography block
// Creates a complete set of font-* properties from one line
@mixin font($size: '', $weight: '', $style: '', $face: '') {
    @if ($face != '') {
        font-family: $face;
    }

    @if ($size != '') {
        font-size: $size;
    }

    @if ($weight != '') {
        @if (map-has-key($font-weights, $weight)) {
            font-weight: map-get($font-weights, $weight);
        }
        @else {
            font-weight: $weight;
        }
    }

    @if ($style != '') {
        font-style: $style;
    }
}

// Media Queries
@mixin bp($breakpoint: medium, $custom: '') {
    @if ($custom != '') {
        @media #{$custom} { @content; }
    }
    @else if ($breakpoint == medium) {
        @media #{$bp-medium} { @content; }
    }
    @else if ($breakpoint == large) {
        @media #{$bp-large} { @content; }
    }
    @else if ($breakpoint == x-large) {
        @media #{$bp-x-large} { @content; }
    }
}

// Screen Reader Text mixin
// For use when @extend won't work for some reason, or
// the class name can't be added in mark-up
@mixin visuallyhidden() {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// This is an extend-only selector for the diagonal hashed background image
// used throughout the site
%diagonal-bg {
    background-color: $pure-white;
    background-image: url($diagonal-stripe-small);
    background-size: 15px 15px;
}
