
// Font stack definitions, currently using a single font in a variety of weights
$primary-font: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', sans-serif;
$secondary-font: 'Surveyor SSm A', 'Surveyor SSm B', serif;

// Base value for font-size and line-height
$base-font-size-px: 14px;
$base-line-height: 1.5;
