.button--blue {
    background-color: $tcc-blue;
    // background-image: linear-gradient(to bottom, $tcc-blue, darken($tcc-blue, 10%));
    color: $pure-white;
}

.button--teal {
    background-color: $tcc-teal;
    // background-image: linear-gradient(to bottom, $tcc-teal, darken($tcc-teal, 10%));
    color: $pure-white;
}

.button--burgundy {
    background-color: $tcc-burgundy;
    // background-image: linear-gradient(to bottom, $tcc-burgundy, darken($tcc-burgundy, 10%));
    color: $pure-white;
}

.button--orange {
    background-color: $tcc-orange-darker-a11y;
    // background-image: linear-gradient(to bottom, $tcc-orange, darken($tcc-orange, 10%));
    color: $pure-white;
}

.button--green {
    background-color: $tcc-green-darker-a11y;
    // background-image: linear-gradient(to bottom, $tcc-green, darken($tcc-green, 10%));
    color: $pure-white;
}

.button--beige {
    background-color: $tcc-beige-darker-a11y;
    // background-image: linear-gradient(to bottom, $tcc-beige, darken($tcc-beige, 10%));
    color: $pure-white;
}

.button--purple {
    background-color: $tcc-purple;
    // background-image: linear-gradient(to bottom, $tcc-purple, darken($tcc-purple, 10%));
    color: $pure-white;
}

.button--gray {
    background-color: $dark-gray;
    // background-image: linear-gradient(to bottom, $dark-gray, darken($dark-gray, 10%));
    color: $pure-white;
}

.button--solid {
    background-color: $tcc-link-color;
    // background-image: linear-gradient(to bottom, $tcc-link-color, darken($tcc-link-color, 10%));
    color: $tcc-link-color-contrast;
}

.button--submit,
[type='submit'].button--submit { //Bah, the reset has too much specificity, so this got convoluted
    @include font(1rem, bold);

    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 12px;
}

// Anchors with the learn more class are used at the end of tiles that have
// links in the heading, to give a visual cue that more info is available
// scss-lint:disable PlaceholderInExtend
.learn-more {
    @extend .button--solid;
    @include button-base();
    float: right;

    .flexbox .tile-wrap & {
        align-self: flex-end;
        flex: 0 0 auto;
        float: none;
        margin-left: auto;
        margin-top: auto;
        width: auto;
    }
}

// The Print Button appears at the top of all content pages
// Until template is refactored, ignore name and id selector rules
// scss-lint:disable SelectorFormat IdSelector
.printButton {
    display: none;
    float: right;
    margin: 0;
    padding: 0;

    @include bp(medium) {
        display: block;
    }

    // Using @extend for simplicity, override rule
    // scss-lint:disable PlaceholderInExtend
    a {
        @include button-base();
        @include font(0.8rem);
        padding: 4px 9px;

        &:hover,
        &:focus,
        &:active {
            background-color: $tcc-link-color;
            color: $tcc-link-color-contrast;
        }
    }
}

// Only show the ReadSpeaker button at large size screens
// TODO: Discuss this with the team before launch
.rsButtonWrap {
    display: none;

    @include bp(medium) {
        display: block;
    }
}

#saveButton {
    display: block;
    margin-left: 6px;
}
