.button--blue {
    background-color: $tcc-blue;
    background-image: linear-gradient(to bottom, $tcc-blue, darken($tcc-blue, 10%));
    color: $pure-white;
}

.button--teal {
    background-color: $tcc-teal;
    background-image: linear-gradient(to bottom, $tcc-teal, darken($tcc-teal, 10%));
    color: $pure-white;
}

.button--burgundy {
    background-color: $tcc-burgundy;
    background-image: linear-gradient(to bottom, $tcc-burgundy, darken($tcc-burgundy, 10%));
    color: $pure-white;
}

.button--orange {
    background-color: $tcc-orange;
    background-image: linear-gradient(to bottom, $tcc-orange, darken($tcc-orange, 10%));
    color: $pure-white;
}

.button--green {
    background-color: $tcc-green;
    background-image: linear-gradient(to bottom, $tcc-green, darken($tcc-green, 10%));
    color: $pure-white;
}

.button--submit,
[type='submit'].button--submit { //Bah, the reset has too much specificity, so this got convoluted
    @include font(1rem, bold);

    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 12px;
}

// Anchors with the learn more class are used at the end of tiles that have
// links in the heading, to give a visual cue that more info is available
.learn-more {
    @include button-base();
    float: right;
}

// The Print Button appears at the top of all content pages
// Until template is refactored, ignore name and id selector rules
// scss-lint:disable SelectorFormat IdSelector
.printButton,
#printButton,
.rsButtonWrap {
    display: none;
    float: right;
    margin: 0;
    padding: 0;

    @include bp(medium) {
        display: block;
    }

    // Using @extend for simplicity, override rule
    // scss-lint:disable PlaceholderInExtend
    a {
        @include button-base();
        @include font(0.8rem);
    }
}
