// Styles for a gridded Gallery container
$gallery-gap: 1rem;
$min-size: 300px;
$min-size-two-columns: 350px;

.galleryContainer {
    display: grid;
    grid-gap: $gallery-gap;
    grid-template-columns: repeat(auto-fill, minmax($min-size, 1fr));
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: none;
    width: auto;
}

.galleryContainer.galleryContainer--two-columns {
    grid-template-columns: repeat(auto-fill, minmax($min-size-two-columns, 1fr));
}

.galleryItem {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.galleryItem--imageLink {
    display: block;
    margin: 0 0 $gallery-gap;
    padding: 100% 0 0;
    position: relative;
    width: 100%;

    img {
        height: 100%;
        left: 0;
        object-fit: cover;
        object-position: center center;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
