// New icon system. Icons are used inline with other text.
// The icon markup is <span class="icon iconName"><span>Label </span></span>

.icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 1em;
    margin-right: 0.6em;
    position: relative;
    top: -0.06em;
    vertical-align: middle;
    width: 1em;

    > span {
        @include visuallyhidden();
    }
}

.iconRoom { background-image: url('/_resources/images/icons/room.svg'); }
.iconPhone { background-image: url('/_resources/images/icons/phone.svg'); }
.iconFax { background-image: url('/_resources/images/icons/fax.svg'); }
.iconEmail { background-image: url('/_resources/images/icons/email.svg'); }
.iconVideoChat { background-image: url('/_resources/images/icons/videochat.svg'); }
.iconInfo { background-image: url('/_resources/images/icons/info.svg'); }
.iconAlert { background-image: url('/_resources/images/icons/alertteal.svg'); }
.iconRedAlert { background-image: url('/_resources/images/icons/alertred.svg'); }
.iconCalendar { background-image: url('/_resources/images/icons/calendar-icon-blue.svg'); }
