// Using @extend for simplicity, override rule
// scss-lint:disable PlaceholderInExtend
.tabPanel {
    margin: 0;
    padding: 0;
    position: relative;

    &-tabs {
        margin-bottom: 2rem;
        text-align: center;

        .tab {
            @extend .learn-more;
            display: inline-block;
            float: none;
            margin-right: 1em;

            &:last-child { margin-right: 0; }

            &.active {
                @include font($weight: bold, $style: normal);
                background-color: $tcc-orange;
                border-color: $tcc-orange;
                color: $pure-white;
            }
        }
    }

    &-panel {
        margin: 0;
        padding: 0;
        width: 100%;

        &.inactive {
            @extend .visuallyhidden;
        }
    }
}
