.tabPanel {
    padding: 0;
    margin: 0;
    position: relative;

    &-tabs {
        text-align: center;
        margin-bottom: 2rem;
        .tab {
            @extend .learn-more;
            float: none;
            display: inline-block;
            margin-right: 1em;
            &:last-child { margin-right: 0; }

            &.active {
                border-color: $tcc-orange;
                background-color: $tcc-orange;
                color: $pure-white;
                @include font($weight: bold, $style: normal);
            }
        }
    }

    &-panel {
        padding: 0;
        margin: 0;
        width: 100%;

        &.inactive {
            @extend .visuallyhidden;
        }
    }
}
