// Ignore color being a literal value, false positive
// scss-lint:disable VariableForProperty
toggle-section {
    display: block;

    &[role="region"] {
        --buttonBackgroundColor: #{$tcc-blue-pale};
        --buttonTextColor: #{$tcc-blue};
        --contentBackgroundColor: transparent;
        background-color: var(--contentBackgroundColor);
        border: 3px solid var(--buttonBackgroundColor);
        border-radius: 4px;
        margin-bottom: 0;
        margin-top: 1em;
    }

    &[open="true"] {
        padding-bottom: 1em;
    }
}

.toggle-section-controls {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li:first-of-type {
        margin-right: 0.5em;
    }

    button {
        -webkit-appearance: none;
        background-color: inherit;
        border: 1px solid currentColor;
        border-radius: 4px;
        color: inherit;

        &:hover,
        &:focus,
        &:active {
            outline: 2px dotted;
        }
    }
}

// Styles for OU usage
div[data-toggle-section] {
    outline: 3px $tcc-blue-lighter dashed;
    padding: 1rem;

    &::before {
        @include font($size: 1rem, $style: italic);
        background: $tcc-yellow-lighter;
        color: $pure-black;
        content: 'This is a toggle-section. In Preview or on Publication, it will look and behave as expected. The first element inside a toggle-section MUST be a heading of the appropriate level for your document.';
        cursor: not-allowed;
        display: block;
        margin: -1rem -1rem 1rem;
        padding: 1rem;
        text-align: center;
    }

    &::after {
        @include font($size: 0.75rem, $style: italic);
        background: $tcc-yellow-lighter;
        color: $pure-black;
        content: 'This is a end of the toggle-section. If you need to add any attributes, such as id=, please use the source editor';
        cursor: not-allowed;
        display: block;
        margin: 1rem -1rem -1rem;
        padding: 1rem;
        text-align: center;
    }
}
