.reach-toc .main,
.reach-archive .main {
    background-color: $tcc-blue;

    &::after {
        background: url($diagonal-stripe-small) $pure-white;
        border-bottom: 6px solid $pure-white;
        content: '';
        display: block;
        height: 18px;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.tocHeadingWrap {
    background-color: $pure-white;
    border-bottom: 6px solid $pure-white;
    border-top: 6px solid $tcc-blue;
    text-align: center;
    width: 100%;

    .headlineImage {
        display: block;
        margin: 20px auto;
        max-width: 600px;
        width: calc(100% - 40px);
    }

    &::before,
    &::after {
        background: url($diagonal-stripe-small);
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    &::before { height: 12px; }
    &::after { border-bottom: 6px solid $tcc-blue; height: 18px; }
}

.tocMainArticleWrap {
    border-bottom: 6px solid $pure-white;
    margin: 0;
    padding: 0;
    width: 100%;

    img {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.toc {
    @include clearfix();
    display: block;
    list-style-type: none;
    margin: 2rem auto;
    max-width: $max-container-width;
    padding: 0 20px;
}

.toc-article {
    // overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 450px;
    padding: 0;
    position: relative;
    width: 100%;

    @include bp(medium) {
        float: left;
        margin: 0;
        max-width: none;
        width: 50%;
    }

    @include bp($custom: $bp-medium-only) {
        &:nth-of-type(2n+1) {
            clear: both;
        }
    }

    @include bp(large) {
        width: 33%;

        &:nth-of-type(3n+1) {
            clear: both;
        }
    }

    &:nth-of-type(even) .toc-article-link {
        border-top-color: $tcc-green;
    }
}

.toc-article-innerWrap {
    display: block;
    padding: 20px;
    width: 100%;
}

.toc-article-link {
    background-color: $pure-white;
    border-top-color: $tcc-teal-lighter;
    border-top-style: solid;
    border-top-width: 6px;
    display: block;
    height: 100%;
    text-decoration: none;
    width: 100%;

    @include bp(large) {
        .toc-article:nth-of-type(even) & {
            border-top-color: $tcc-teal-lighter;
        }

        .toc-article:nth-of-type(3n+2) & {
            border-top-color: $tcc-green;
        }
    }
}

.tocImage {
    background-color: $pure-white;
    display: block;
    width: 100%;

    img {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
}

.toc-titleWrap {
    padding: 10px;
}
