.headerImage,
.main-content {
    margin: 0 auto;
    max-width: $max-container-width;
    padding: 0 20px;
}

.headerImage {
    picture {
        margin: 0;
        padding: 0;
        width: 100%;

        img {
            display: block;
            width: 100%;
        }
    }
}

.article-relatedContent {
    border-top: 1px solid;
    margin-top: 3rem;
}

.textContent {
    margin-bottom: 3rem;
    margin-top: 3rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.articleHeader {
    margin: 0 auto 2rem;
    max-width: 1000px;
}

.articleWrap,
.article-relatedContent {
    margin: 0 auto;
    max-width: 750px;

    img {
        display: block;
        margin: 1rem auto;
        max-width: 100%;

        &.image--pullRight {
            @include bp(medium) {
                float: right;
                margin: 0 0 1rem 1rem;
            }

            @include bp(large) {
                margin-right: calc((100vw - 810px) / 2 * -1);
            }

            @include bp(x-large) {
                margin-right: calc((#{$max-container-width} - 790px) / 2 * -1);
            }
        }

        &.image--pullLeft {
            @include bp(medium) {
                float: left;
                margin: 0 1rem 1rem 0;
            }

            @include bp(large) {
                margin-left: calc((100vw - 810px) / 2 *-1);
            }

            @include bp(x-large) {
                margin-left: calc((#{$max-container-width} - 790px) / 2 * -1);
            }
        }
    }
}

.author {
    @include clearfix();
    display: block;
    margin-top: 1rem;
}

.authorImage {
    border-radius: (45px / 2);
    display: block;
    float: left;
    height: 45px;
    margin-right: 10px;
    width: 45px;

    @include bp(medium) {
        float: right;
        margin-left: 10px;
        margin-right: 0;
    }
}

// Line-height set by px for to-the-pixel layout
// scss-lint:disable PropertyUnits
.byline {
    float: left;
    height: 45px;
    line-height: 45px;
    margin: 0;
    vertical-align: middle;
    width: auto;

    @include bp(medium) {
        float: right;
    }
}

blockquote {
    clear: both;
    margin: 0 auto;
    padding: 2rem 20px;
    position: relative;
    width: 80%;
    z-index: z(FOREGROUND);

    &::before,
    &::after {
        $quote-color: transparentize($tcc-green, 0.5);
        @include font(5em, 'black', italic, $secondary-font);
        color: $quote-color;
        position: absolute;
        z-index: z(BACKGROUND);
    }

    &::before {
        content: '“';
        left: -20px;
        text-align: left;
        top: -20px;
    }

    &::after {
        bottom: -0.45em;
        content: '”';
        right: 40px;
        text-align: right;
    }
}

.videoFrame {
    height: 0;
    margin: 1rem 0 0;
    position: relative;
    width: 100%;

    &.video--16-9 { padding-top: 56.25%; }
    &.video--4-3 { padding-top: 75%; }
    &.video--9-16 { padding-top: 177.78%; }

    .videoWrap {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        iframe,
        video {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

.tableWrap {
    @include font(0.8rem);
    margin: 3rem auto;
    max-width: $max-container-width;
    overflow-x: auto;
    width: 100%;

    table {
        border-collapse: collapse;
        margin: 0 auto;
        width: auto;
    }

    thead {
        th {
            text-align: center;
        }

        h3 {
            @include font(1.8em);
            line-height: 1.2;
            margin: 0;
        }

        h4 {
            @include font(1.3em);
            line-height: 1.2;
            margin: 0;
        }
    }

    td,
    th {
        padding: 0.4rem 0.8rem;
    }

    tbody {
        th {
            text-align: left;
            text-transform: uppercase;
        }

        tr:nth-of-type(odd) {
            $table-color: lighten($tcc-teal-lighter, 50%);
            background-color: $table-color;
        }

        th,
        td {
            border-right: 1px solid $tcc-teal-darker;

            &:last-child {
                border-right: none;
            }
        }

        td {
            text-align: center;
        }
    }
}
