// This is a value calculated based on the current
// big button design as of 5-7-2016
$big-button-ratio: 29.837%;
$picture-ratio: (240 / 213); //Button image width:height ratio, not pixel size per se
$picture-percentage-width: ($big-button-ratio * $picture-ratio);

.homePage {

    .prospectiveStudents-buttons {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px 10px 40px;
        position: relative;
        width: 100%;

        .flexbox & {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .no-flexbox & {
            @include clearfix();
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            max-width: 90%;

            .flexbox & {
                flex-direction: row;
            }
        }
    }

    .bigButton-wrap {
        border-radius: 8px;
        margin: 0;
        padding: 10px;
        transition: transform 0.2s ease-in;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.02);
            transition: transform 0.15s ease-out;
        }

        .bigButton {
            background-image: none;
            border-radius: 8px;
            display: block;
            height: 0;
            overflow:hidden;
            padding-top: $big-button-ratio;
            position: relative;
            text-decoration: none;
            width: 100%;
        }

        .bigButton-image {
            border-radius: 8px 0 0 8px;
            display: block;
            height: 100%;
            left: 0;
            max-height: 100%;
            position: absolute;
            top: 0;
            width: auto;
        }

        .bigButtonTextWrap {
            bottom: 0;
            padding: 10px;
            position: absolute;
            right: 0;
            top: 0;
            width: calc(100% - #{$picture-percentage-width});


            .flexbox & {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
            }
        }

        [class*="bigButtonText"] {
            display: block;
            text-align: center;
            text-transform: uppercase;
            margin: 0;
            line-height: 1.05;
        }

        .bigButtonText--large {
            @include font(2.1rem, 800);
        }

        .bigButtonText--medium {
            @include font(1.4rem, 800);
        }

        .bigButtonText--small {
            @include font(1.1rem, 500);
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            .no-flexbox & { float: left; width: 50%; }

            .flexbox & {
                flex: 1 1 50%;
                justify-content: space-between;
            }
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(large) {

            .no-flexbox & { width: 33.3333%; }

            .flexbox & {
                flex: 0 1 33.3333%;
                justify-content: space-between;

                &:nth-of-type(1),
                &:nth-of-type(2) {
                    flex: 1 1 50%;

                    .bigButtonText--large {
                        @include font(2.7rem);
                    }

                    .bigButtonText--small {
                        @include font(1.5rem);
                    }
                }
            }
        }
    }
}
