.feedList {
    @extend %feed-list-styles;

    .feedItem {
        @extend %feed-list-item-styles;

        // For the general announcements feed, go three across
        // on large displays, instead of a column
        .feeds-announcements & {
            border-bottom: none;

            @include bp(medium) {
                float: left;
                width: 33%;
            }
        }
    }

    .feedItemLink {
        @extend %feed-item-link-styles;
    }

    .feedItemImage {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: auto;

        &.lazyLoad {
            height: 0;
            padding-top: 47.48%;

            &.loaded {
                height: auto;
                padding-top: 0;
            }

            .no-js & {
                display: none;
            }
        }
    }

    .feedItemTitle {
        @extend %feed-item-title-styles;
    }

    .feedItemExcerpt,
    .feedItemDescription {
        @extend %feed-item-excerpt-styles;
    }
}


.announcements,
.featuredVideo {
    padding: 0 10px;
    width: 100%;

    @include bp(medium) {
        float: left;
        padding: 20px;
        width: 50%;
        &:nth-of-type(2n+1) { clear: both; }
    }

    .learnMoreWrap {
        padding: 20px 0;
    }
}

.generalFeed {
    .feedItem {
        @include clearfix();
        border-bottom: 1px solid $light-gray;

        &:last-of-type { border-bottom: none; }
    }
}

.featuredVideo {
    .videoOuterWrapper {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 54px;
        width: 100%;
    }
}

.feeds-featured .generalFeed .feedItem {
    border-bottom: none;
}
