.requestInfo {
    background-color: $light-gray;
    margin: 31px 0 61px;
    position: relative;

    .contentWrap { padding: 20px 0; }

    &::before,
    &::after {
        @extend %diagonal-bg;
        content: '';
        display: block;
        height: 21px;
        position: absolute;
        width: 100%;
    }

    &::after {
        border-top: 6px solid $tcc-burgundy;
        bottom: -27px;
    }

    &::before {
        border-bottom: 6px solid $tcc-burgundy;
        top: -27px;
    }

    .main-identifier {
        @include font(1.5rem);

        @include bp(medium) { @include font(1.8rem); }
    }
}

.requestInfo-form {
    margin: 2rem 0;

    .flexbox & {
        align-content: flex-start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        @include bp(medium) {
            padding-left: 10px;
            padding-right: 10px;

            .fieldWrap {
                flex: 1 1 50%;
                width: auto;
            }

        }

        @include bp(large) {
            .fieldWrap {
                flex: 1 0 auto;
                margin-bottom: 0;
                max-width: 33%; //Keeps it on the grid with the buttons
                &:last-of-type { flex: 0 0 auto; margin-left: auto; }
            }
        }

        .button--submit { float: right; }
    }

    .no-flexbox & {
        @include clearfix();

        .fieldWrap {
            float: left;

            @include bp(medium) { width: 50%; }
            @include bp(large) { width: 33%; }

            &:last-of-type {
                float: right;
                margin-left: auto;
                width: auto;
            }
        }



    }

    .fieldWrap {
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        width: 100%;
    }

    label {
        @include visuallyhidden();
    }

    input:not([type='submit']),
    select {
        @include font(1rem, thin);
        // -webkit-appearance: none;
        background-color: $pure-white;
        border: 1px solid $medium-gray;
        border-radius: 4px;
        color: $text-black;
        display: block;
        width: 100%;

    }

    input:not([type='submit']) {
        padding: 4px 16px;
    }

    select {
        padding: 3px 12px;
    }
}
