// This is a value calculated based on the current
// big button design as of 5-7-2016
$big-button-ratio: 29.837%;

.homePage {

    .prospectiveStudents-buttons {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px 10px 40px;
        position: relative;
        width: 100%;

        .flexbox & {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .no-flexbox & {
            @include clearfix();
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            max-width: 90%;

            .flexbox & {
                flex-direction: row;
            }
        }
    }

    .bigButton-wrap {
        margin: 0;
        padding: 10px;
        width: 100%;

        .bigButton {
            border-radius: 8px;
            display: block;
            height: 0;
            overflow: hidden;
            padding-top: $big-button-ratio;
            position: relative;
            width: 100%;
        }

        .bigButton-image,
        .bigButton-button {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            width: auto;
        }

        .bigButton-button {
            right: 0;
            z-index: z(HIGH);
        }

        .bigButton-image {
            left: 0;
            z-index: z(OVER);
        }


        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            .no-flexbox & { float: left; width: 50%; }

            .flexbox & {
                flex: 1 1 50%;
                justify-content: space-between;
            }
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(large) {

            .no-flexbox & { width: 33.3333%; }

            .flexbox & {
                flex: 0 1 33.3333%;
                justify-content: flex-end;

                &:nth-of-type(1),
                &:nth-of-type(2) { flex: 1 1 50%; }
            }
        }
    }
}
