.feeds-news,
.feeds-magazine,
.feeds-district {
    .main-identifier { @extend %main-identifier-styles; }

    .feedList {
        @extend %feed-list-styles;
    }

    .feedItem {
        @extend %feed-list-item-styles;
    }

    .feedItemLink {
        @extend %feed-item-link-styles;
    }

    .feedItemImage {
        display: block;
        width: 100%;
    }

    .feedItemTitle {
        @extend %feed-item-title-styles;
    }

    .feedItemExcerpt {
        @extend %feed-item-excerpt-styles;
    }
}

.feeds-district {
    @include clearfix();

    .main-identifier {
        @extend %main-identifier-styles;

        @include bp(medium) {
            @include font(2.4rem);
        }

        @include bp(large) {
            @include font(2.8rem);
        }

        @include bp(x-large) {
            @include font(3rem);
        }
    }

    .announcements,
    .featuredVideo {
        padding: 10px;
        width: 100%;

        @include bp(medium) {
            float: left;
            padding: 20px;
            width: 50%;
            &:nth-of-type(2n+1) { clear: both; }
        }

        .learnMoreWrap {
            padding: 20px 0;
        }
    }

    .generalFeed {

        @include bp(medium) {
            .feedItem {
                @include clearfix();
                border-bottom: 1px solid $light-gray;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                padding-left: 175px;

                &:last-of-type { border-bottom: none; }
            }

            .feedItemImage {
                float: left;
                margin-left: -175px;
                max-width: 166px;
            }
        }
    }
}
