.homePage {

    .callToAction-buttons {

        margin: 0 auto;
        max-width: 400px;
        padding: 14px 10px 20px;
        width: 100%;

        .flexbox & {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .no-flexbox & {
            @include clearfix();
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            max-width: 90%;

            .flexbox & {
                flex-direction: row;
            }
        }
    }


    .button-wrap {
        margin: 0;
        padding: 10px;
        transition: transform 0.2s ease-out;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.02);
            transition: transform 0.15s ease-in;
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            .no-flexbox & { float: left; width: 50%; }

            .flexbox & {
                flex: 1 1 50%;
                justify-content: space-between;
            }
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(large) {

            .no-flexbox & { width: 33.3333%; }

            .flexbox & {
                flex: 0 1 33.3333%;
                justify-content: space-between;
            }
        }
    }

    .tile-button {
        background-image: none;
        border-radius: 8px;
        display: block;
        margin: 0;
        padding: 1rem;
        text-decoration: none;
        width: 100%;

        .flexbox & {
            align-items: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
        }

        [class*="buttonText"] {
            display: block;
            line-height: 1;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
        }

        .buttonText--small {
            @include font(1.5rem, 700);
        }

        .buttonText--medium {
            @include font(2.2rem, 800);
        }

        .buttonText--large {
            @include font(2.6rem, 800);
        }
    }
}
