.feeds-calendar {
    .main-identifier {
        @extend %main-identifier-styles;
    }

    .calendarFeed {
        @extend %feed-list-styles;
    }

    .event {
        @extend %feed-list-item-styles;

        @include bp($custom: $bp-medium-only) {
            width: 50%;
            &:nth-of-type(2n+1) { clear: both; }
        }

        @include bp(large) {
            width: 33%;
            &:nth-of-type(3n+1) { clear: both; }
        }


        &.today {
            position: relative;

            &::before {
                @include font(1.7rem, 'black');
                background-color: $tcc-green;
                box-shadow: 0 4px 4px -4px $shadow-dark;
                color: $pure-white;
                content: 'Today';
                padding: 0.1em 0.5em;
                position: absolute;
                right: 5px;
                text-transform: uppercase;
                top: -3px;
                z-index: z(HIGH);

                @include bp(medium) {
                    @include font(2rem);
                }

                @include bp(x-large) {
                    @include font(2.25rem);
                }
            }
        }
    }

    .eventLink {
        @extend %feed-item-link-styles;
        overflow: hidden;
        padding-top: 40%;
        position: relative;

        &::before {
            background-color: $tcc-blue;
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 28%;
            z-index: z(UNDER);
        }

        &::after {
            background-color: $light-gray;
            bottom: 0;
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: z(LOWEST);
        }
    }

    .eventImage {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 80%;
        z-index: z(LOW);
    }

    .eventTitle {
        @extend %feed-item-title-styles;
        background-color: $pure-white;
    }

    .eventDetails {
        @extend %feed-item-excerpt-styles;
        background-color: $pure-white;
    }

    .eventTime-month,
    .eventTime-day {
        color: $pure-white;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        width: 28%;
    }

    .eventTime-month {
        @include font(1.5rem, thin);
        letter-spacing: 2px;
        text-transform: uppercase;
        top: 10px;

        @include bp(medium) {
            @include font(2.1rem);
            top: 10px;
        }

        @include bp(large) {
            @include font(2rem);
            top: 10px;
        }

        @include bp(x-large) {
            @include font(2.5rem);
            top: 10px;
        }

    }

    .eventTime-day {
        @include font(3.4rem, 'black');
        top: 36px;

        @include bp(medium) {
            @include font(4.4rem);
            top: 46px;
        }

        @include bp(large) {
            @include font(3.6rem);
            top: 44px;
        }

        @include bp(x-large) {
            @include font(5rem);
            top: 50px;
        }
    }

    .eventLocation {
        @include font($style: italic);
    }

    .eventTime-time {
        @include font($style: italic);
    }
}
