.requestInfo {

    .contentWrap { padding: 20px 0; }

    background-color: $light-gray;
    position: relative;
    margin: 31px 0 61px 0;

    &:before, &:after {
        display: block;
        width: 100%;
        content: '';
        height: 21px;
        @extend %diagonal-bg;
        position: absolute;
    }

    &:after {
        border-top: 6px solid $tcc-burgundy;
        bottom: -27px;
    }

    &:before {
        border-bottom: 6px solid $tcc-burgundy;
        top: -27px;
    }

    .main-identifier {
        @include font(1.5rem);

        @include bp(medium) { @include font(1.8rem); }
    }
}

.requestInfo-form {
    margin: 2rem 0;

    .flexbox & {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-between;

        .button--submit { float: right; }

        @include bp(medium) {
            padding-left: 10px;
            padding-right: 10px;

            .fieldWrap {
                flex: 1 1 50%;
                width: auto;
            }

        }

        @include bp(large) {
            .fieldWrap {
                flex: 1 0 auto;
                margin-bottom: 0;
                max-width: 33%; //Keeps it on the grid with the buttons
                &:last-of-type { flex: 0 0 auto; margin-left: auto; }
            }
        }
    }

    .no-flexbox & {
        @include clearfix();

        .fieldWrap {
            float: left;
            &:last-of-type {
                width: auto; float: right; margin-left: auto;
            }

            @include bp(medium) { width: 50%; }
            @include bp(large) { width: 33%; }
        }



    }

    .fieldWrap {
        padding: 10px;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }

    label {
        @include visuallyhidden();
    }

    input:not([type='submit']), select {
        display: block;
        width: 100%;
        border-radius: 4px;
        background-color: $pure-white;
        color: $text-black;
        // -webkit-appearance: none;
        border: 1px solid $medium-gray;
        @include font(1rem, thin);

    }

    input:not([type='submit']) {
        padding: 4px 16px;
    }

    select {
        padding: 3px 12px 3px 12px;
    }
}
