.homePage {

    .callToAction-buttons {

        margin: 0 auto;
        max-width: 285px;
        padding: 14px 10px 20px;
        width: 90%;

        @include bp(medium) {
            max-width: 100%;
            // padding-left: 0; //Removed to fix alignment of top button area
        }

        .flexbox & {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        .no-flexbox & {
            @include clearfix();
        }
    }


    .button-wrap {
        margin: 0;
        padding: 5px;
        transition: transform 0.2s ease-out;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.02);
            transition: transform 0.15s ease-in;
        }

        .flexbox & {
            flex: 1 1 100%;

            @include bp(medium) {
                flex: 1 1 33%;
            }
        }

        .no-flexbox & {
            width: 100%;

            @include bp(medium) {
                float: left;
                width: 33%;
            }
        }
    }

    .tile-button {
        border-radius: 4% / 9%;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;

        img {
            border: none;
            display: block;
            margin: 0 auto;
            max-width: 400px;
            outline: 0;
            width: 100%;

            @include bp(medium) {
                max-width: 100%;
            }
        }
    }
}
