// Styles for the special message banner that goes directly under the hero

.specialNotice {
    background-color: $tcc-teal; //Per RH 6-2-20
    color: $pure-white;
    margin: 18px 0 0;
    padding: 0;
    text-align: center;
    width: 100%;

    .specialNotice-innerWrap {
        font-size: 1.5em;
        margin: 0 auto;
        max-width: $max-container-width;
        padding: 40px 20px;
        text-align: center;
        width: 100%;

        p {
            margin: 0;
            padding: 0;

            img {
                height: 1em;
                margin-right: 0.5em;
                position: relative;
                top: -2px;
                vertical-align: middle;
                width: 1em;
            }
        }

        a {
            color: inherit;
            font-weight: 700;
            text-decoration: underline;
            text-decoration: solid underline currentColor 2px;
        }
    }
}

//Styles for the marketing copy that is superimposed over the header of the page

.marketingContent {
    background-color: $tcc-blue;
    color: $pure-white;
    margin: 18px 0 0;
    padding: 0;

    @include bp(medium) {
        // TODO: Make it look as good on desktop
    }
}

.marketingContent-innerWrap {
    margin: 0 auto;
    max-width: $max-container-width;
    padding: 10px 20px;
    width: 100%;
}

.marketContent-header {
    //TODO: Style the header somehow
}

.marketingContent-copy {
    @include font($weight: 'bold');
    text-transform: uppercase;

    p {
        margin: 0;
    }

    a {
        @include font($weight: 'bold');
        color: inherit;
    }
}
