.feedList {
    @extend %feed-list-styles;

    .feedItem {
        @extend %feed-list-item-styles;

        // For the general announcements feed, go three across
        // on large displays, instead of a column
        .feeds-announcements & {
            @include bp(medium) {
                border-bottom: none;
                float: left;
                width: 33%;
            }
        }
    }

    .feedItemLink {
        @extend %feed-item-link-styles;
    }

    .feedItemImage {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: auto;
    }

    .feedItemTitle {
        @extend %feed-item-title-styles;
    }

    .feedItemExcerpt,
    .feedItemDescription {
        @extend %feed-item-excerpt-styles;
    }
}


.announcements,
.featuredVideo {
    padding: 10px;
    width: 100%;

    @include bp(medium) {
        float: left;
        padding: 20px;
        width: 50%;
        &:nth-of-type(2n+1) { clear: both; }
    }

    .learnMoreWrap {
        padding: 20px 0;
    }
}

.generalFeed {

    @include bp(medium) {
        .feedItem {
            @include clearfix();
            border-bottom: 1px solid $light-gray;
            margin-bottom: 1rem;
            padding-bottom: 1rem;

            &:last-of-type { border-bottom: none; }
        }

        // .feedItemImage {
        //     float: left;
        //     margin: 0 1rem 1rem 0;
        //     max-width: 166px;
        // }
    }
}
