.requestInfo {
    background-color: $light-gray;
    margin: 31px 0 61px;
    position: relative;

    .requestInfo-innerWrap {
        .flexbox & {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .no-flexbox & {
            display: block;
        }
    }

    .contentWrap {
        // min-height: 340px;
        padding: 20px 0;

        @include bp(medium) {
            min-height: 235px;
        }
    }

    .isHidden {
        display: none;

        .no-js &,
        .no-overlay & {
            display: block;
        }
    }

    &::before,
    &::after {
        @extend %diagonal-bg;
        content: '';
        display: block;
        height: 21px;
        position: absolute;
        width: 100%;
    }

    &::after {
        border-top: 6px solid $tcc-burgundy;
        bottom: -27px;
    }

    &::before {
        border-bottom: 6px solid $tcc-burgundy;
        top: -27px;
    }

    .main-identifier {
        @include font(1.5rem);
        margin-bottom: 1rem;

        @include bp(medium) { @include font(1.8rem); }
    }

    // Nesting here to get a higher specificity due to
    // a conflicting 1 class rule
    .requestInfoSubmit {
        display: block;
        margin: 1rem auto;

        @include bp(medium) {
            display: inline-block;
            margin: 0 0.5rem;
        }
    }
}

.showFormWrap {
    @include clearfix();

    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;

    .showFormWrap-descriptionWrap {
        text-align: center;
        width: 100%;
    }

    .showFormWrap-buttonWrap {
        width: 100%;
    }

    .showForm {
        @include font(1.3rem);
        display: block;
        height: 50px;
        margin: 0 auto;
        width: 160px;
    }
}

.requestInfoFormWrap {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
    text-align: center;

    h2 {
        @include font(1.2rem, 'bold');
    }
}

.formElementWrap {
    @include clearfix();
    display: inline-block;
    margin: 0.5rem;
    width: auto;

    label {
        display: block;
        margin-bottom: 0.25rem;
        text-align: left;
    }

    input {
        display: block;
    }

    &.formElementWrap--invalid input {
        outline: 3px solid $tcc-burgundy;
    }
}

.formHelpText {
    @include font(0.9rem, 'thin');
    margin: 0 auto 1rem;
    text-align: center;
    width: 100%;
}

.requestInfo-formResponse-message {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
}
