// This is a value calculated based on the current
// big button design as of 5-7-2016
$big-button-ratio: 29.837%;

.homePage {

    .prospectiveStudents-buttons {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px 10px 40px;
        position: relative;
        width: 100%;

        .flexbox & {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        .no-flexbox & {
            @include clearfix();
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            max-width: 90%;

            .flexbox & {
                flex-direction: row;
            }
        }
    }

    .bigButton-wrap {
        border-radius: 8px;
        height: 0;
        margin: 0;
        padding: $big-button-ratio 0 0;
        transition: transform 0.2s ease-in;
        position: relative;
        width: 100%;

        &:hover,
        &:focus,
        &:active {
            transform: scale(1.02);
            transition: transform 0.15s ease-out;
        }

        .bigButton {
            background-image: none;
            border-radius: 8px;
            display: block;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            text-decoration: none;

            .flexbox & {
                align-items: stretch;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
            }

            .no-flexbox & {
                @include clearfix();
            }

        }

        .bigButton-image {
            border-radius: 8px 0 0 8px;
            display: block;
            height: 100%;
            max-height: 100%;
            width: auto;

            .flexbox & {
                flex: 0 0 auto;
            }

            .no-flexbox & {
                float: left;
            }
        }

        .bigButtonTextWrap {
            display: block;

            .flexbox & {
                flex: 1 1;
            }

            .no-flexbox & {
                clear: right;
                float: right;
            }
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(medium) {
            .no-flexbox & { float: left; width: 50%; }

            .flexbox & {
                flex: 1 1 50%;
                justify-content: space-between;
            }
        }

        // Media queries should be last, for specificity purposes,
        // but scss-linter wants them before nested elements,
        // so we have to disable linter check for DeclarationOrder
        // scss-lint:disable DeclarationOrder
        @include bp(large) {

            .no-flexbox & { width: 33.3333%; }

            .flexbox & {
                flex: 0 1 33.3333%;
                justify-content: space-between;

                &:nth-of-type(1),
                &:nth-of-type(2) { flex: 1 1 50%; }
            }
        }
    }
}
