//Primary color pallet
$tcc-blue: #003b76 !default;
$tcc-blue-lighter: #005ca8 !default;
$tcc-blue-darker: #0c2753 !default;

$tcc-teal: #007b97 !default;
$tcc-teal-lighter: #00adc9 !default;
$tcc-teal-darker: #005c72 !default;

$tcc-burgundy: #99002b !default;
$tcc-burgundy-lighter: #cc003f !default;
$tcc-burgundy-darker: #6a0316 !default;

$tcc-beige: #d0c391 !default;
$tcc-beige-lighter: #ffedb3 !default;
$tcc-beige-darker: #99926d !default;

//Secondary color pallet
$tcc-green: #8dc63f !default;
$tcc-green-lighter: #b7f752 !default;
$tcc-green-darker: #66952e !default;

$tcc-orange: #f05a28 !default;
$tcc-orange-lighter: #ff795f !default;
$tcc-orange-darker: #99926d !default;

//Tertiary Color pallet
$tcc-yellow: #f2db00 !default;
$tcc-yellow-lighter: #ffe164 !default;
$tcc-yellow-darker: #b0a30d !default;

$tcc-purple: #662d91 !default;
$tcc-purple-lighter: #843ec1 !default;
$tcc-purple-darker: #4c196d !default;

$tcc-forestgreen: #006838 !default;
$tcc-forestgreen-lighter: #00994c !default;
$tcc-forestgreen-darker: #004821 !default;

//Grayscales
$dark-gray: #292929 !default;
$medium-gray: #585858 !default;
$light-gray: #e9e9e9 !default;

$pure-white: #fff !default;
$pure-black: #000 !default;

$text-black: #404040 !default; //aka 90% black

//Translucent shadows
$shadow-light: rgba(0, 0, 0, 0.4);
$shadow-dark: rgba(0, 0, 0, 0.8);

// Link color
$tcc-link-color: #315cbf; //#2c74ae;
$tcc-link-color-contrast: $pure-white;

//Table Styles Colors
$tcc-table-color0: #fcfcfc;
$tcc-table-color1: #f2f2f2;
$tcc-table-color2: lighten($tcc-teal, 60%);
$tcc-table-color2-contrast: $text-black;
