// Navigation Color Scheme
// Like it says on the box... Not much to add

$nav-top-level: $pure-white; //#0b7c98;
$nav-top-level-text: $text-black;
$nav-second-level: #196389;
$nav-second-level-text: $pure-white;
$nav-third-level: #12517e;
$nav-third-level-text: $pure-white;
$nav-fourth-level: #104879;
$nav-fourth-level-text: $pure-white;
$nav-selected: $tcc-teal-lighter;
$nav-selected-text: $pure-black;
$nav-background: #404041; //Has a corresponding texture that should be overlaid
